@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}



@media (max-width: 800px) {
  body{
    background: url(old_bg/bg.jpg) no-repeat center fixed;
  /* CSS that should be displayed if width is equal to or less than 800px goes here */
  }
}



body{
  margin: 0;
  padding: 0;
  /* animation: color-me-in 2s; */
  /* background-color: black; */
  background: url(bg_large.jpg) no-repeat center fixed;
  animation-name: fadeIn;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-duration: 1.5s;
  animation-fill-mode:forwards;

  -webkit-background-size: cover;
  /* -moz-background-size: cover; */
  /* -o-background-size: cover; */
  /* background-size: cover; */
}
.iconss ul li i{
font-size: 42px;
color: #e8e8e8;
}


a.button2{
  display:inline-block;
  padding:0.5em 3em;
  border:0.16em solid #FFFFFF;
  margin:0 0.3em 0.3em 0;
  box-sizing: border-box;
  text-decoration:none;
  text-transform:uppercase;
  /* font-family:'Roboto',sans-serif; */
  font-family: 'Futura',sans-serif;
  font-weight:400;
  color:#FFFFFF;
  text-align:center;
  transition: all 0.15s;
  }
  a.button2:hover{
  color:#555555;
  border-color:#555555;
  }
  a.button2:active{
  color:#BBBBBB;
  border-color:#BBBBBB;
  }
  /* @media all and (max-width:50em){
    a.button2{
    display:block;
    margin:0.4em auto;
     }
  }  */



.title_page{
/* font-family: Copperplate; */
/* font-family: Consolas; */
/* font-family: 'Futura',sans-serif; */
/* font-family: 'Rockwell',sans-serif; */
 word-break:break-all;
/* font: 400 60px/1.2 'Merienda One', Helvetica, sans-serif; */
  color: #e8e8e8;
  /* font-family: 'Bellota Text', cursive; */
  font-family: 'Quantico', sans-serif;
  font-size: 50px;
  font-weight: bold;
}

/* displays Krzysztof Karwowski in block as they are in span */
.title_page span {
  display: block;
}

/* .chris{
float: right;

} */

.below h5{
  margin-top: 0;
  margin-bottom: 0;
  color: #e8e8e8;
/* display: inline-block; */

}

#footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  margin: auto;
  margin-top: 5%;
  color: #e8e8e8;
  /* font-family: 'Century Gothic',sans-serif; */
  font-family: 'Futura',sans-serif;
}

.box{
  /* width: 480px; */
  width: 35%;
  /* background: rgba(0, 0, 0, 0.2); */
  /* background: rgba(255, 255, 255, 0.05); */
  /* padding: 40px; */
  padding: 6%;
  text-align: center;
  margin: auto;
  margin-top: 5%;
  color: #e8e8e8;
  /* font-family: 'Century Gothic',sans-serif; */
  font-family: 'Futura',sans-serif;
}

.livedata{
  /* display: table; */
  /* display: inline-block; */
  /* float: left; */
}
.livedata ul li p{
  padding-top: 0px;
  font-size: 10px;
  color: #e8e8e8;
}

.livedata_dot {
   float: left;
   text-align: center;
}

.livedata_dot_txt {
padding-left: 10px;
   float: left;
   text-align: center;
}
.livedata_dot_and_text{
  margin: auto;
  width: 350px;
}

#lol,#display  {
  padding-top: 0px;
  font-size: 25px;
}
.livedata ul li{
  /* display: table; */
  display: inline-block;
  padding: 0px
  margin: auto; /* float: left; */
}

.box_counter{
  height: 50%;
  width: 180px;
  /* background: rgba(0, 0, 0, 0.2); */
  /* background: rgba(0, 0, 0, 0.2); */
  padding: 20px;
  padding-top: 10px;
  /* text-align: center; */
  /* margin: auto; */
  margin-top: 2%;
  color: #e8e8e8;
  /* font-family: 'Century Gothic',sans-serif; */
  font-family: 'Futura',sans-serif;
  font-size: 15px;
}
.box_counter i{
  font-size: 35px;
}
.box_counter h5{
  font-size: 30px;
  padding: 0px;
}
/* .box_counter p{
  font-size: px;
} */
.box-img{
  border-radius: 50%;
  width: 200px;
  height: 200px;
}
.box h1{
  font-size: 40px;
  letter-spacing: 4px;
  font-weight: 100;
}
.box h5{
  font-size: 20px;
  letter-spacing: 3px;
  font-weight: 100;
}
.box p{
  text-align: justify;
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;

}
.box li{
  display: inline;
  margin: 6px;
  list-style: none;
}
.box li a{
  color:#e8e8e8;
  text-decoration: none;
  font-size: 60px;
  transition: all ease-in-out 250ms;
}
.box li a:hover{
  color: #b9b9b9;
}


.blinking {
  -webkit-animation: 1s blink ease infinite;
  -moz-animation: 1s blink ease infinite;
  -ms-animation: 1s blink ease infinite;
  -o-animation: 1s blink ease infinite;
  animation: 1s blink ease infinite;

}

@keyframes "blink" {
  from, to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@-moz-keyframes blink {
  from, to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@-webkit-keyframes "blink" {
  from, to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@-ms-keyframes "blink" {
  from, to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@-o-keyframes "blink" {
  from, to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
